--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
PyMuPDF==1.26.6
opencv-python-headless==4.12.0.88
numpy==2.2.6
Pillow==11.1.0
timm==0.9.16
yacs==0.1.8
